.star-rated-outline:before {
  color: #ccc;
}
.star-rated {
  color: #f1a545;
}

.star-container {
	display: flex;
	justify-content: space-evenly;
	span.star {
		width: 100%;
		text-align: center;
	}
}