.star-rated-outline:before {
  color: #ccc;
}
.star-rated {
  color: #f1a545;
}

.star-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	span.star {
		width: 100%;
		text-align: center;
	}
	span.rating-number {
		font-size: 24px;
		display: inline-block;
		min-width: 50px;
	}
}